<div>
    <br>
    <div class="container">
        <div fxLayout="row" fxLayoutAlign="center center" class="content">
          <mat-card class="card" >
           
            <mat-card-content>
                <div class="example-container"> 
                    <form [formGroup]="formGroup" class="form">
                    <div>
                      <mat-form-field floatLabel="never" class="form-element">
                        <mat-select [(value)]="selectedSource" placeholder="Customer">
                           <mat-option *ngFor="let customer of pageLoad"  [value]="customer">{{customer}}</mat-option>
                      </mat-select>
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field floatLabel="never" class="form-element">
                         <input  matInput  placeholder="Po#">
                      </mat-form-field>
                    </div>
                    <div class="form-element">
                          <button 
                          mat-raised-button 
                          color="primary" 
                          type="search" 
                          class="button" 
                          (click)="doSearch(formGroup.value)">Search</button>
                    </div>
                    
                    <div class="example-container" *ngIf="isVisible"> 
                      <div>
                        <mat-form-field floatLabel="never" class="form-element">
                          <input  matInput  placeholder="Invoice"  formControlName="invoice" required>
                          <mat-error *ngIf="formGroup.controls.invoice.hasError('maxlength')">Max length exceeded</mat-error>
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field floatLabel="never" class="form-element">
                          <mat-select [(value)]="selected" placeholder="Remit To Address">
                            <mat-option *ngFor="let add of address"  [value]="add">{{add}}</mat-option>
                       </mat-select>
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field floatLabel="never" class="form-element">
                         <input matInput [matDatepicker]="picker"  placeholder="mm-dd-yyyy" formControlName="date" required>
                          <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field floatLabel="never" class="form-element">
                          <mat-select [(value)]="selectedCurrency" placeholder="Currency">
                            <mat-option  [value]="currency">{{currency.UniqueName}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                  </div>
                </form>
                </div>
              </mat-card-content>
            </mat-card>
        </div>
    </div>
    <br>
    <div class="container" *ngIf="headerBoolean">
      <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-6">
                                <h3 class="panel-title">Header charge</h3>
                            </div>

                            <div class="col col-xs-6 text-right">
                              <div class="col col-xs-3">
                                <div class="pull-right">
                                  <button type="button" class="btn btn-primary">
                                    <mat-icon>add</mat-icon> 
                                  </button>
                                    <button type="button" class="btn btn-primary">
                                      <mat-icon>delete</mat-icon>
                                    </button>
                                    <button type="button" class="btn btn-primary">
                                      <mat-icon>attach_file</mat-icon>
                                     
                                    </button>
                                </div>
                              </div>
                          </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table id="mytable" class="table table-striped table-bordered table-list">
                            <thead>
                            <tr>
                                <th class="col-check"><input type="checkbox" id="checkall" onclick="test()"/></th>
                                <th class="col-text">Name</th>
                                <th class="col-text">Type</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                              <td align="center"><input type="checkbox" class="checkthis"/></td>
                              <td>
                                <div>                               
                                  <select name="name" [(ngModel)]="dropDownOne" class="form-control">
                                     <option *ngFor="let name of headerProperty"  [value]="name" selected value="dropDoenOne==Charge">{{name}}</option>
                                   </select>
                                </div>
                              </td>
                              <td>
                               <div *ngIf="dropDownOne == 'Discount'">
                                  <select id="selectType" name="selectType" class="form-control">
                                     <option  [value]="selectType">select</option>
                                  </select>
                                </div>
                               
                                <div *ngIf="dropDownOne == 'Charge'">
                                  <select id="selectType" name="selectType" class="form-control">
                                     <option *ngFor="let type of headerType"  [value]="type">{{type}}</option>
                                  </select>
                                </div>
                                <div *ngIf="dropDownOne == 'Tax'">
                                  <select id="selectType" name="selectType" class="form-control">
                                     <option *ngFor="let typetax of headerTypeTax"  [value]="typetax">{{typetax}}</option>
                                  </select>
                                </div>
                              </td>
                              <td>
                              <input type="text">
                              </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container" *ngIf="LineChargeBoolean">
      <div class="row">
            <div class="col-md-12 col-md-offset-1">
                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-6">
                                <h3 class="panel-title">Line charge</h3>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="col-check"><input type="checkbox" id="checkall" onclick="test()"/></th>
                                <th class="col-text">S.No.</th>
                                <th class="col-text">Description</th>
                                <th class="col-text">Qty</th>
                                <th class="col-text">Unit</th>
                                <th class="col-text">Price</th>
                                <th class="col-text">Amount</th>
                                <th class="col-text">Discount/Charges/Taxes</th>
                                <th class="col-text">Gross Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let lineItem of element">
                              <td align="center"><input type="checkbox" class="checkthis"/></td>
                              <td>{{lineItem.NumberInCollection}}</td>
                              <td>{{lineItem["Description.Description"]}}</td>
                              <td>{{lineItem.Quantity}}</td>
                              <td>{{lineItem["Description.UnitOfMeasure"].UniqueName}}</td>
                               <td>${{lineItem.Amount.Amount}}</td>
                               <td>${{lineItem.Quantity*lineItem.Amount.Amount}}</td>
                               <td>
                                <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row"  fxLayoutAlign="space-around center" class="content">
                                  <div class="blocks">
                                      <button button="submit" mat-raised-button color="primary" (click)="openRow();" >
                                          <mat-icon>add</mat-icon> Add
                                      </button>
                                  
                                      <button button="submit" mat-raised-button color="primary" (click)="deleteRow();">
                                        <mat-icon>delete</mat-icon> 
                                      </button>
                                  </div>
                                  <div *ngIf="isVisibleHeader">
                                    <div class="panel-body">
                                      <table id="mytable" class="table table-striped table-bordered table-list">
                                          <thead>
                                          <tr>
                                              <th class="col-check"><input type="checkbox" id="checkall" onclick="test()"/></th>
                                              <th class="col-text">Name</th>
                                              <th class="col-text">Type</th>
                                              <th>Amount</th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                          <tr>
                                            <td align="center"><input type="checkbox" class="checkthis"/></td>
                                            <td>
                                              <div>                               
                                                <select name="name" [(ngModel)]="dropDownOne" class="form-control">
                                                    <option *ngFor="let name of headerProperty"  [value]="name" selected value="dropDoenOne==Charge">{{name}}</option>
                                                 </select>
                                              </div>
                                            </td>
                                            <td>
                                               <div *ngIf="dropDownOne == 'Discount'">
                                                <select id="selectType" name="selectType" class="form-control">
                                                   <option  [value]="selectType">select</option>
                                                </select>
                                              </div>
                                             
                                              <div *ngIf="dropDownOne == 'Charge'">
                                                <select id="selectType" name="selectType" class="form-control">
                                                   <option *ngFor="let type of headerType"  [value]="type">{{type}}</option>
                                                </select>
                                              </div>
                                              <div *ngIf="dropDownOne == 'Tax'">
                                                <select id="selectType" name="selectType" class="form-control">
                                                   <option *ngFor="let typetax of headerTypeTax"  [value]="typetax">{{typetax}}</option>
                                                </select>
                                              </div>
                                            </td>
                                            <td>
                                            <input type="text">
                                            </td>
                                          </tr>
                                          </tbody>
                                      </table>
                                      </div>
                                  </div>
                                </div>
                               </td>
                               <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="LineChargeBoolean">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="cardFooter" >
        
          <mat-card-content>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Base Amount:</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Discount:</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Charge:</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Tax:</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Payable to Supplier:</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Prior Invoiced Amount:</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
</div>
  