<div class="card m-3">
  <div class="card-body">
      <form [formGroup]="formGroup">
          <!-- <div class="container" > -->
            <div class="form-row">
              <div class="form-group col-4"></div>
              <div class="form-group col-4">
                  <mat-card class="cardfull" >
                      <mat-card-content>
                      <div>
                        <mat-form-field floatLabel="never" class="form-element">
                          <mat-select [(value)]="selectedSource" placeholder="Customer" formControlName="customer">
                        
                            <mat-option *ngFor="let customer of pageLoad"  [value]="customer">{{customer}}</mat-option>
                        </mat-select>
                        </mat-form-field>
                        <mat-icon class="pull-right tooltip-style" matTooltip="Customer Information">info</mat-icon>
                      </div>
                      <div>
                        <mat-form-field floatLabel="never" class="form-element">
                          <input  matInput  placeholder="Po#" formControlName="poNumber">
                        </mat-form-field>
                        <mat-icon class="pull-right tooltip-style" matTooltip="PO Information">info</mat-icon>
                      </div>
                      <div class="form-element">
                            <button 
                            mat-raised-button 
                            color="primary" 
                            type="search" 
                            class="button"
                            (click)="doSearch(formGroup.value)">Search</button>
                      </div>
                    
                      <div class="example-container" *ngIf="isVisible"> 
                        <div>
                          <mat-form-field floatLabel="never" class="form-element">
                            <input  matInput  placeholder="Invoice"  formControlName="invoice" required>
                            <mat-error *ngIf="formGroup.controls.invoice.hasError('maxlength')">Max length exceeded</mat-error>
                          </mat-form-field>
                          <mat-icon class="pull-right tooltip-style" matTooltip="Invoice Information">info</mat-icon>
                        </div>
                        <div>
                          <mat-form-field floatLabel="never" class="form-element">
                            <mat-select [(value)]="selected" placeholder="Remit To Address">
                              <mat-option *ngFor="let add of address"  [value]="add">{{add}}</mat-option>
                        </mat-select>
                          </mat-form-field>
                          <mat-icon class="pull-right tooltip-style" matTooltip="Remit to Address Information">info</mat-icon>
                        </div>
                        <div>
                          <mat-form-field floatLabel="never" class="form-element">
                          <input matInput [matDatepicker]="picker"  placeholder="mm-dd-yyyy" formControlName="date" required>
                            <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                          <mat-icon class="pull-right tooltip-style" matTooltip="Date Information">info</mat-icon>
                        </div>
                        <div>
                          <mat-form-field floatLabel="never" class="form-element">
                            <mat-select [(value)]="selectedCurrency" placeholder="Currency">
                              <mat-option  [value]="currency">{{currency.UniqueName}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-icon class="pull-right tooltip-style" matTooltip="Currency Information">info</mat-icon>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
              </div>
              <div class="form-group col-4"></div>
            </div>
              <div class="form-row">
                <div class="form-group col-1"></div>
                <div class="form-group col-10" *ngIf="headerBoolean">
                  <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-6">
                              <h3 class="panel-title">Header charge</h3>
                            </div>
                        </div>
                    </div>
                      <div class="panel-body">
                          <table id="mytable" class="table table-striped table-bordered table-list">
                              <thead>
                              <tr>
                                <th><input type="checkbox" [checked]="isAllheaderCheckBoxChecked()" (change)="checkAllheaderCheckBox($event)"></th>
                                  <!-- <th><input type="checkbox"></th> -->
                                  <th>Add/Delete</th>
                                  <th class="col-text">Name</th>
                                  <th class="col-text">Type</th>
                                  <th>Amount</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr *ngFor="let dynamic of dynamicArray; let i = index;">
                                <td align="center"><input type="checkbox" value="{{dynamic.id}}" [(ngModel)]="dynamicArray[i].checked" [ngModelOptions]="{standalone: true}"></td>
                                <td>
                                  <div>
                                    <button type="button" class="btn btn-primary" (click)="addRow();">
                                      <mat-icon>add</mat-icon> 
                                    </button>
                                  
                                    <button type="button" class="btn btn-primary" (click)="deleteRow(i)">
                                      <mat-icon>delete</mat-icon>
                                    </button>
                                  </div>
                                </td>
                                <td>
                                  <div>                               
                                    <select name="name" [(ngModel)]="dynamicArray[i].Name" class="form-control" [ngModelOptions]="{standalone: true}">
                                      <option *ngFor="let name of headerProperty"  [value]="name" selected value="dropDoenOne==Charge">{{name}}</option>
                                    </select>
                                  </div>
                                </td>
                              
                                <td>
                                <div *ngIf="dynamicArray[i].Name == 'Discount'">
                                    <select id="selectType" name="selectType" [(ngModel)]="dynamicArray[i].Type"  [ngModelOptions]="{standalone: true}" class="form-control">
                                      <option  [value]="selectType">select</option>
                                    </select>
                                  </div>
                                
                                  <div *ngIf="dynamicArray[i].Name == 'Charge'">
                                    <select id="selectType" name="selectType" [(ngModel)]="dynamicArray[i].Type"  [ngModelOptions]="{standalone: true}" class="form-control">
                                      <option *ngFor="let type of headerType"  [value]="type">{{type}}</option>
                                    </select>
                                  </div>
                                  <div *ngIf="dynamicArray[i].Name == 'Tax'">
                                    <select id="selectType" name="selectType" [(ngModel)]="dynamicArray[i].Type"  [ngModelOptions]="{standalone: true}" class="form-control">
                                      <option *ngFor="let typetax of headerTypeTax"  [value]="typetax">{{typetax}}</option>
                                    </select>
                                  </div>
                                </td>
                                <td>
                                  <input [(ngModel)]="dynamicArray[i].TypeTax"  [ngModelOptions]="{standalone: true}" class="form-control" type="text"/>
                                </td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                    </div>
                
                    <div class="col col-xs-6 text-left">
                      <div class="col col-xs-3">
                        <div class="pull-left">
                          <button type="button" class="btn btn-primary">
                              <mat-icon>attach_file</mat-icon>
                            </button>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="form-group col-1"></div>
              </div>
            <div class="form-row" *ngIf="LineChargeBoolean">
              <app-tree-grid-load-on-demand-sample></app-tree-grid-load-on-demand-sample>
              <!-- <div class="form-group col-1"></div>
                <div class="form-group col-10">
             
                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-6">
                                <h3 class="panel-title">Line charge</h3>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                              <th><input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)"></th>
                                <th class="col-text">Discount/Charges/Taxes</th>
                                <th class="col-text">S.No.</th>
                                <th class="col-text">Description</th>
                                <th class="col-text">Qty</th>
                                <th class="col-text">Unit</th>
                                <th class="col-text">Price</th>
                                <th class="col-text">Amount</th>
                                <th class="col-text">Gross Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let lineItem of element  let i=index;">
                              <td align="center"><input type="checkbox" value="{{lineItem.id}}" [(ngModel)]="element[i].checked" [ngModelOptions]="{standalone: true}"></td>
                              <td>
                                <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row"  fxLayoutAlign="space-around center" class="content">
                                  <div class="blocks">
                                      <button button="submit" mat-raised-button color="primary" (click)="openRow(i);" >
                                          <mat-icon>add</mat-icon>
                                      </button>
                                  
                                      <button button="submit" mat-raised-button color="primary" (click)="deletechildRow(i);">
                                        <mat-icon>delete</mat-icon> 
                                      </button>
                                  </div>
                                  <div *ngIf="isVisibleHeader">
                                    <div class="panel-body">
                                      <table id="mytable" class="table table-striped table-bordered table-list">
                                          <thead>
                                          <tr>
                                              <th class="col-check"><input type="checkbox" id="checkall" onclick="test()"/></th>
                                              <th class="col-text">Name</th>
                                              <th class="col-text">Type</th>
                                              <th>Amount</th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                          <tr>
                                            <td align="center"><input type="checkbox" class="checkthis"/></td>
                                            <td>
                                              <div>                               
                                                <select name="name" [(ngModel)]="dropDownOne" class="form-control"  [ngModelOptions]="{standalone: true}">
                                                    <option *ngFor="let name of headerProperty"  [value]="name" selected value="dropDoenOne==Charge">{{name}}</option>
                                                </select>
                                              </div>
                                            </td>
                                            <td>
                                              <div *ngIf="dropDownOne == 'Discount'">
                                                <select id="selectType" name="selectType" class="form-control">
                                                  <option  [value]="selectType">select</option>
                                                </select>
                                              </div>
                                            
                                              <div *ngIf="dropDownOne == 'Charge'">
                                                <select id="selectType" name="selectType"  class="form-control">
                                                  <option *ngFor="let type of headerType"  [value]="type">{{type}}</option>
                                                </select>
                                              </div>
                                              <div *ngIf="dropDownOne == 'Tax'">
                                                <select id="selectType" name="selectType" class="form-control">
                                                  <option *ngFor="let typetax of headerTypeTax"  [value]="typetax">{{typetax}}</option>
                                                </select>
                                              </div>
                                            </td>
                                            <td>
                                              <input  class="form-control" type="text"/>
                                            </td>
                                          </tr>
                                          </tbody>
                                      </table>
                                      </div>
                                  </div>
                                </div>
                              </td>
                              <td>{{lineItem.NumberInCollection}}</td>
                              <td> <div class="a">{{lineItem["Description.Description"]}}</div></td>
                              <td>{{lineItem.Quantity}}</td>
                              <td>
                                {{lineItem["Description.UnitOfMeasure"].UniqueName}}</td>
                              <td>${{lineItem.Amount.Amount}}</td>
                              <td>${{lineItem.Quantity*lineItem.Amount.Amount}}</td>
                              <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> -->
            <div class="form-group col-1"></div>
        </div>
        <div class="form-row" *ngIf="LineChargeBoolean">
          <div class="form-group col-4"></div>
          <div class="form-group col-4">
                <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Base Amount:</mat-label>
                    <input matInput>{{calculateAmount}}
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Discount:</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Charge:</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Tax:</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Payable to Supplier:</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Prior Invoiced Amount:</mat-label>
                    <input matInput>{{priorInvoicedAmount}}
                  </mat-form-field>
                </div>
          </div>
          <div class="form-group col-4"></div>
        </div>
        <div class="form-row" *ngIf="isVisible">
          <div class="form-group col-5"></div>
          <div class="form-group col-2">
            <button button="submit" mat-raised-button color="primary" (click)="openRow();" >
              submit
          </button>
          </div>
          <div class="form-group col-5"></div>
        </div>
      </form>
  </div>
</div>